body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: white;
}

h1{
    font-family:"Montserrat-black";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    color:black;
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

p{
    color: gray;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* navbar-brand */

.navbar{
    padding: 0 0 50px;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item{
    padding: 18px;
}

.nav-link{
    font-family: "Montserrat-light";
    font-size: 1.2rem;
}

/* download-button */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* title image */
.title-image {
    width: 60%; /*60% of its parent */
    transform: rotate(25deg);
    position: absolute;
    z-index: 1;
    right: 30%;
}
.title-img-div {
 
    position: relative;
}

/* features */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.box-features{
    text-align: center;
 }

 .fa-solid{
    color:#E90064;
    margin-bottom: 1rem;
 }

 .fa-solid:hover{
    color: #e8669c;
 }

 /* Testimonials */

 #testimonials{
    
    text-align: center;
    background-color:#ff4c68 ;
}

.carousel-item{
    padding: 7% 15%;
   
}

.testimonials-image{
    border-radius: 100%;
    width: 20%;
    margin: 30px;
    
}

.testimonial-text{
    color: #fff;
}

#press{
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 50px;
}

.press-image{
    width: 15%;
    margin: 20px 50px 20px;
    
}

/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-coloum{
    padding: 2% 3%;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* Call to Action */

#cta{
    background-color: #ff4c68;
    padding: 100px;
    text-align: center;
    color: #fff;
}

.cta-heading{
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    padding: 150px;
    text-align: center;
}

.social-icon{
    padding: 10px;
    size: 10px;
}
